<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<bean id="sb" class="com.wolken.wolkenapp.Bean.SongBean">
	<property name="name" value="Taja samachara"></property>
	<property name="movie" value="Natasarvabhauma"></property>
	<property name="rating" value="4"></property>
	
	<property name="singer" value="Jithin Raj"></property>
	<property name="composer" value="D Imman"></property>
	<property name="year" value="2019"></property>
	
	
	
	</bean>
	



</beans>